body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    columns: rgb(38, 186, 235);
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    gap: 50px;
}

button {
    padding: 8px 24px;
    background-color: rgb(145, 191, 206);
    text-align: center;
    border-style: none;
    border-radius: 8px;
}